/* warna primary dan background */

:root {
  --primary: #999090;
  --bg: #fcebeb;
}

/*reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  /* font-style: italic; */
  color: #68283b;
  min-height: 2500px;
}

/* Navbar Start untuk menu diatas */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 7%;
  background-color: rgb(252, 208, 246);
  border-bottom: 1px solid #fcebeb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #5f0000;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

/* navbar menu utk font-nya*/

.navbar .navbar-nav a {
  color: #860f0f;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

/* agar menu-bar berubah ketika pointer*/

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

/*garis bar-menu */

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #5f0000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .navbar-extra a {
  color: #a00505;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* Navbar end */

/* Hero Section */

/* Ini utk gambar background */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background-image: url("../img/hoax-bg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
} 

/* .hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(238, 127, 127) 8%,
    rgba(255, 255, 255, 0) 50%);
}  

*/

/* text hero pada tampilan awal/home */

.hero .content {
  padding: 8rem 7%;
  max-width: 100rem;
}

.hero .content h1 {
  font-size: 5.5rem;  /* font judul paragraf */
  color: #490131;  
  text-shadow: 1px 1px 3px rgba(59, 0, 35);
  line-height: 1.4; 
}

/* text hero pada home end*/

.hero .content h1 span {
    var(--primary);
} 

/* paragraf */

.hero .content p {
    font-size: 1.4rem;
    color: #f7dfdf;
    margin-top: 1rem;
    line-height: 1.4;
    /* font-weight: 100; */
    /* text-shadow: 1px 1 px 3 px rgba(83, 1, 1); */
    mix-blend-mode: difference; /* campur warna agar tdk bertabrakan */
}

/* cta : sign up */

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: #7c0157;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(160, 2, 120, 0.774);
}

/* About Section */

.about,
.daftar
 {
    padding: 0.5rem 7% 1.4rem;
}

.about h2,
.daftar h2
 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span
.daftar h2 span 
{
    color: var(--primary);
}

.daftar p {
    text-align: center;
    max-width: 45rem;
    margin: auto;
    color: #4d0250;
    font-family: 'Gill Sans MT';
    font-size: x-large;
    font-weight: 100;
    line-height: 1.6;
}

.daftar h2 {
    margin-bottom: 1rem;
}


.about .row {
    display: flex; /*agar paragraf berada disamping gambar */
}

.about .row .about2-img {
    flex: 1 1 20rem;
}

.about .row .about2-img img {
    width: 90%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 3rem;
}

.about .row .content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.4;
    font-family: 'Gill Sans MT';
}

/* Contact Section */

.daftar .row {
    display: flex;
    margin-top: 2rem;
    background-color: #f0b7ca;
   }

.daftar .row .map {
    flex: 1 1 45;
    width: 100%;
    object-fit: cover;
    height: 30rem;
}

.daftar .row form {
    padding-top: 0;
}

/* Tampilan Daftar */

.daftar .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

/* Atur tampilan form */

.daftar .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #ffffff;
    padding-left: 2rem;
}

.daftar .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #7c0157;
}

.daftar .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fcebeb;
    background-color: var(--primary);
    cursor: pointer;
}


/* Footer */

footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;
    }

    footer .socials a {
        color: #fdfdfd;
        margin: 1rem;
    }

    footer .socials a:hover {
        color: var(--primary);
    }

    footer .links a:hover {
        color: #f7dfdf;
    }

    footer .links {
        margin-bottom: 1.6rem;
    }

    footer .links a {
        color: #f3e0e0;
        padding: 0.7rem 1rem;
    }

    footer .credit {
        font-size: 0.8rem;
    }

    footer .credit a {
        color:blue ;
        font-weight: 700;
    }

/* Media Queries : tampilan layar */

/* Laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */

@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

 /* side bar menu humberger */

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fabced;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

/* untuk navbar menu tulisan */
  
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /* isi about */

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about2-img img {
    height: 8rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p{
    font-size: 1.6rem;
  }

  .daftar .row {
    flex-wrap: wrap;
  }
}